$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';
@import 'colors';
@import 'auth';
@import 'navbar';

body {
  font-family: 'Lato', sans-serif;
  background-color: $light-gray;
}

.snapshots-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 30px;
  height: 300px;
  overflow: scroll;
}

.auth-view {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-bottom: 40px;
}

.logged-in-view {
  display: none;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.form-signup {
  display: none;
}

.col-fixed {
  position: fixed;
  width: $fixed-width;
}

.no-bullets {
  list-style-type: none;
}

.sidebar {
  background-color: $dark-blue;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 50px;
}

.user-nav-icon {
  margin-right: 5px;
}

.dropdown-menu {
  display: none;
}

.sidebar-menu {
  margin-top: 30px;
}

.sidebar-menu li a {
  color: $white;
}

.icon {
  margin-right: 7px;
}

.no-pad {
  padding-left: 0;
}

.content {
  height: 100vh;
}

.form-field {
  margin-top: 20px;
  margin-bottom: 20px;
}
.open-snapshot-modal {
  display: none;
}
.main-small {
  left: $fixed-width !important;
  width: calc(100vw - #{$fixed-width});
}

.bold {
  font-weight: bold;
}

.header {
  height: 250px;
  width: 100%;
  padding-left: 0;
  background: url('https://i.imgur.com/0Bzs8KR.jpg') no-repeat center center fixed;
}

.notification-area {
  width: 95%;
}

.profile-navbar {
  position: absolute;
  bottom: 0;
  background-color: $black;
  opacity: 0.3;
  width: 100%;
  height: 30px;
}

.profile-navbar ul li {
  float: left;
  line-height: 30px;
  padding-right: 10px;
}

.profile-navbar ul li a {
  color: $white;
}

.user-update-form {
  display: none;
}

.main {
  position: fixed;
  left: $fixed-width;
  width: calc(100vw - #{$fixed-width});
}

.change-password-form {
  display: none;
  margin-top: 50px;
}

.change-password-btn {
  margin-top: 20px;
  float: right;
}

@media (min-width: '768px') {
  .sidebar {
    display: block;
  }
}

@media (max-width: '768px') {
  .sidebar {
    display: none;
    top: 100px;
  }

  .main {
    left: 0;
    width: 100vw;
  }
}

.sidebar-show {
  display: block !important;
}

.sidebar-hide {
  display: none !important;
}

.open-snapshot-modal {
  display: none;
}

#upload-form {
  color: white;
  text-align: center;
  line-height: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 250px;
  border: 2px dashed $white;
}
