<div class="row">
  <div class="col-md-12">
      <form class="create-snapshot" name="create-snapshot">
        <h2> Create Snapshot </h2>
        <div class="row">
          <div class="col-md-4">
            <label> Unit </label>
            <select name="health_snapshot[unit]" class="form-control">
              <option value="ml">ML</option>
              <option value="count">COUNT</option>
            </select>
          </div>
          <div class="col-md-4">
            <label> Value </label>
            <input type="input" class="form-control" name="health_snapshot[value]" placeholder="Must be a number">
          </div>
          <div class="col-md-4">
            <label> Snapshot Type </label>
            <input type="input" class="form-control" name="health_snapshot[snapshot_type]" placeholder="example: heartbeat">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label> Source Name </label>
            <input type="input" class="form-control" name="health_snapshot[source_name]" placeholder="example: Phil's iPhone">
          </div>
          <div class="col-md-4">
            <label> Start Date </label>
            <input class="form-control" type="datetime-local" name="health_snapshot[start_date]" placeholder="YYYY-MM-DD hh:mm:ss" required>
          </div>
          <div class="col-md-4">
            <label> End Date </label>
            <input class="form-control" type="datetime-local" name="health_snapshot[end_date]" placeholder="YYYY-MM-DD hh:mm:ss" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary create-snapshot-btn">
          </div>
        </div>
      </form>
    </div>
</div>
